.image{
    position: absolute;
    left: 4px;
    top: 2px;
}
nav>a {

text-align: right;
padding: 16px 18px;
font-size: 17px;
color: black;
text-decoration: none;

}
nav{
    float: right;
    padding-top: 3%;
}

nav>a:hover{
    background-color: purple;
    color: rgb(10, 8, 8);
}
body {
    background-color: #E5E5E5;
    /* background-color: rgb(78, 20, 78); */
    margin-top: 10%;
    
}
h1 {
    font-style:oblique;
    text-align:middle;
    color: whitesmoke;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 500px;
    padding-bottom: 30%;
    text-align: center;
    /* margin-top: 5%; */
}
.leftcolumn{
    font-style: normal;
    width: 3000px;
    height: 500px;
    text-align:middle;
    margin-top: 10%;


}
.rightcolumn{
    font-style: oblique;
    width: 3000px;
    height: 500px;
    padding-bottom: 50px;
    margin-top: 10%;
} 

footer{
    position: fixed;
    bottom: 0;
    padding-left: 40%;
    background-color: black;
    color: white;
    width: 100%;
    font-style: normal;
 }
