.image{
    position: absolute;
    left: 4px;
    top: 2px;
}
nav>a {

text-align: right;
padding: 16px 18px;
font-size: 17px;
color: black;
text-decoration: none;

}
nav{
    float: right;
    padding-top: 3%;
}

nav>a:hover{
    background-color: purple;
    color: rgb(10, 8, 8);
}
footer{
    position: fixed;
    bottom: 0;
    padding-left: 40%;
    background-color: black;
    color: white;
    width: 100%;
    font-style: normal;
 }
