body{
    background-image:url(bg.png);
    background-size: cover;
    background-repeat: no-repeat;
  
}
ul  {
    list-style-type: none;
    margin:  0;
    padding: 0px;
    display: inline;
    /* float: left; */

}
li{
    float: right;
    padding: 10px;
}
li a {
  display: block;
  color: rgba(86, 39, 67, 1);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 24px;

}
li a:hover {
    background-color: rgb(224, 210, 226);
  }
.container-1 {
    text-align: center;
    color:rgb(92, 90, 91);
    font-size: 20px;
}
.container-1 h3 {
    color:rgba(86, 39, 67, 1);
}
.container-2 img {
    align-items: center;
    padding: auto;
    margin-left:30%;

}
button {
  background-color: rgb(40, 16, 46);
  color: rgb(180, 173, 173);
  border-radius:12px;
  padding: 14px 40px;
  align-self: auto;
  margin-left:40%;
  margin-top:12px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(86, 39, 67, 1);
    color: #fff;
    text-align: center;
   }
  