*{
    border-radius: 5px;
}
.regform{
    padding-left: 500px;
}

body{
    background-color:#ffafde;


}

.regform{
    padding-left: 50px;

}
.firstname{
    padding-top: 20px;
}
.middlename{
    padding-top: 20px;

}
.lastname{
    padding-top: 20px;
}
 h1:hover{
     background-color: bisque;
     
 }
input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=number] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }